<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado LIebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!--   <link rel="stylesheet" href="/static/css/normalize.css"> -->
    <link rel="stylesheet" href="/static/css/register.css">
</head>
<body>
    <header>
        <div class="header-container">

            <div class="container-logo">
                <img class="logo" src="/static/images/logo-mercado-liebre.svg" alt="logo de la pagina">
    
               <div class="search-container">
                    <input class="input-search" type="text" placeholder="Buscar producto, marca">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
               </div>
            </div>
    
            <p class="title_header"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <nav class="navbar">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        
        <div class="btn_menu-container">
            <i class="fa-solid fa-bars btn_menu"></i>
        </div>
     
    </header>

    <div class="banner_container">
        <img class="banner"  src="/static/images/img-home-banner.jpg" alt="Imagen de una cafetera">
    </div>
   <main>
    <form class="form" action="/" method="get">
            <h4>Registro</h4>
           <!--  <label class="form__label"  for="name">Nombre y Apellido</label> -->
            <input class="form__input"  type="text" name="name" placeholder="Ingrese su Nombre">
        
    
            <!-- <label class="form__label" for="user_name">Nombre de Usuario</label> -->
            <input class="form__input" type="text" name="user_name" placeholder="Ingrese su Usuario">

            <div class="form___container-date">
                <label class="form__label" for="name">Fecha de Nacimiento</label>
                <input class="form__input"  type="date" >
            </div>
       
           <!--  <label class="form__label" for="domicilio">Domicilio</label> -->
            <input class="form__input"  type="text" name="domicilio" placeholder="Ingrese su Domicilio">
       

        <div  class="form__radio-container">
            <input class="form__input" type="radio" id="vender" name="type_user" value="vender">
            <label class="form__label" for="vender">Vender</label>
            <input class="form__input" type="radio" id="comprar" name="type_user" value="comprar">
            <label class="form__label" for="comprar">Comprar</label>
        </div>

        <div class="form___container-checkbox">

            <h5 for="category">Interes</h5> 
            
            <div>
                <input type="checkbox" name="electro" id="">
                <label class="form__label" for="electro">Electro</label>
            </div>
            <div>
                <input type="checkbox" name="moda" id="">
                <label class="form__label" for="comprar">Moda</label>
            </div>
            <div>
                <input type="checkbox" name="juguetería" id="">
                <label class="form__label" for="comprar">Juguetería</label>
            </div>
            <div>
                <input type="checkbox" name="vida-sana" id="">
                <label class="form__label" for="comprar">Vida sana</label>
            </div>
        </div>
     
            <div class="form__container-file">
                <label class="form__label" for="photo">Seleccione Foto</label>  
                <input class="form__input" type="file" name="photo" id="photo"> 
            </div>
     

            <input class="form__input"  type="password" id="pasword" name="pasword" placeholder="Ingrese su contraseña">
            <input class="form__input"  type="password" id="pasword2" name="pasword2" placeholder="Repita su contraseña">
          
            
            <input class="form__btn transparent"  type="reset" value="Borrar">
            <input class="form__btn primary" type="submit" value="Registrarme">
       

    </form>
   </main>
    <footer>
        <section>
            <article class = "footer_article">
                <i class="fa-solid fa-credit-card footer_icon"></i>
                <h3 class="footer_title">Pagá con tarjeta o en efectivo</h3>
                <p class="footer_paragraph">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class = "footer_article">
                <i class="fa-solid fa-gift footer_icon"></i>
                <h3 class="footer_title">Envío gratis desde $ 2.500</h3>
                <p class="footer_paragraph">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class = "footer_article">
                <i class="fa-solid fa-user-shield footer_icon"></i>
                <h3 class="footer_title">Seguridad, de principio a fin</h3>
                <p class="footer_paragraph">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@.</p>
            </article>
        </section>
        <div class="footer_copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>