*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto";
    font-size: 12px;
    background-color: #ebebeb;
  
}

header {
    display: flex;
    flex-direction: column;
    background-color: #EAC926;
}

 li{
    list-style: none;
}
 a{
    text-transform: none;
    text-decoration: none;
    color: rgba(0,0,0,0.8);
}

.container-logo{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logo{
    width: 50%;
}

.search-container{
    width: 50%;
   
}
.input-search{
    width: 70%;
    border-radius: 5px;
}

.navbar{
    display: none;
}
.title_header{
    text-align: center;
}

.btn_menu-container{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.btn_menu{
    background-color: #1259c3;
    padding: 10px;
    border-radius: 5PX;
    color:white;
    text-align: center;
}

/* =========BANNER================= */
.banner {
    max-width: 100%;
    max-height: 100%;
   }

.banner_container {
    display: flex;
    justify-content: center;
 
  
}
/*======== MAIN ===========*/

main {
    width: 90vw;
    margin: 0 auto;
}

input,
input:focus{
    display: block;
    outline: none;
    border: none;
}


input:placeholder-shown{
    background-color: #efefef;
   
}

input:focus{
    border:1px solid #1259c3;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: #fff;
    padding: 30px;
    border-radius: 4px;
    margin: 10% auto;
    

}

.form h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form__input{
    background-color: #fff;
   align-self: center;
    padding: 5px;
    width: 80%;
    margin-bottom: 10px;
}


.form__btn{
    padding: 5px;
    margin: 10px 0;
    width: 80%;
}

.primary{
    color: #fff;
    background-color:  #1259c3;
}


/*============ FOOTER ===================*/
footer{
    background-color: #fff;
    padding-top: 20px;
}
.footer_article{
    margin: 2em;
    padding: 0 30px;
}
.footer_icon{
    display: block;
    font-size: 2em;
    color: #1259c3;
    text-align: center;
    margin-bottom: 10px;
}
.footer_title{
   color: #666;
    text-align: center;
    margin: 0;
}
.footer_paragraph{
    color:#666 ;
   text-align: center;
   margin: 0;
}
.footer_copyright{
    padding-bottom:20px;
}
.footer_copyright p{
    text-align: center;
}


 /* ===========MEDIAS QUERY=========== */
/* tablet */
 @media ( min-width: 361px) {
    

    /* header en linea */

    header .header-container{
        display: flex;
       align-items: center;
       margin-bottom: 20px;
        
    }
    header .container-logo{
        width: 60%;
    }

    header .logo {
        width: 30%;
    }

     /* Cards de a dos */
    .cards{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .card{
        width: 45%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    /*Hago visible nombre de producto */
    .card-name {
        display: block;
    }

    /* Saco menu hamburguesa */
    .btn_menu-container{
        display: none;
    }

    /* hago visible navbar */
    .navbar{
        display: flex;
        justify-content: space-between;
        padding: 20px;
     
    }

    .navbar ul {
        display: flex;
        justify-content: space-between;
   
    }
    .navbar li a{
        padding: 10px;
    }
  
 }


/* desktop */
 @media ( min-width: 769px) {

    .cards{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .card{
        width: 20%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    footer section{
        display: flex;
     
    }
    
 }

